<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yotacast.com.yotacast"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".YotaCastWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yotacast_info" />
            <meta-data
                android:name="com.yotadevices.yotaphone.bs_provider"
                android:resource="@xml/bs_widget_info" />
        </receiver>

        <service
            android:name=".YotaCastService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name=".autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_config" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
