html, body {
  font-family: 'DINPro', 'Helvetica-Neue', Helvetica, sans-serif;
  height: 100%;
  background-color: #337c74;
}

.full-height {
  height: 100%;
}

.theme { 
  background-image: url(../img/background.jpg);
  background-size: cover;
  padding-top: 30px;
}

.main-page {
  text-align: center;
  position: relative;
}

.main-page .main-container {
  height: 600px;
  width: 600px;
  position: absolute;
  margin-top: -300px;
  margin-left: -300px;
  top: 50%;
  left: 50%;
}

.page-title {
  color: #00bff3;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-page .logo-circle {
  opacity: 0;
  height: 450px;
  position: absolute;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -300px;
}

.main-page .logo-circle.shown {
  opacity: 1;
}

.main-page .logo-container {
  padding-top: 5px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.main-page .logo-icon {
  color: #fff;
  font-size: 192px;
  font-weight: 300;
}

.main-page .logo-title {
  color: #fff;
  font-size: 32px;
}

.main-page .logo-background {
  background-color: rgba(255,255,255,0.3);
  border-radius: 200px;
  border: 5px dotted #0a3530;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 0;
  width: 400px;
}

.main-page .logo-background-2 {
  width: 450px;
  height: 450px;
  border-radius: 225px;
  border: 5px dashed #fff;
  position: absolute;
  left: 50%;
  margin-left: -225px;
  top: -25px;
}

.main-page .quote {
  color: #fff;
  font-style: italic;
  font-size: 14px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.rotate-clockwise {
  -webkit-animation-name:             spin; 
  -webkit-animation-duration:         30s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: linear;
}

@-webkit-keyframes spin-reverse {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(-360deg);
  }
}

.rotate-anticlockwise {
  -webkit-animation-name:             spin-reverse; 
  -webkit-animation-duration:         45s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: linear;
}


@-webkit-keyframes pulsate {
  to { 
    -webkit-text-shadow: 0 0 60px rgba(23, 218, 197, .75);
    -moz-text-shadow: 0 0 60px rgba(23, 218, 197, .75);
    text-shadow: 0 0 60px rgba(23, 218, 197, .75);
  }
}

@keyframes pulsate {
  to { 
    -webkit-text-shadow: 0 0 60px rgba(23, 218, 197, .75);
    -moz-text-shadow: 0 0 60px rgba(23, 218, 197, .75);
    text-shadow: 0 0 60px rgba(23, 218, 197, .75);
  }
}

.pulsing-logo {
  animation: pulsate 1s infinite alternate;
  -webkit-animation: pulsate 1s infinite alternate;
}

.logo-icon img {
  margin: 0 auto;
  width: 35%;
}

.main-page .bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 140px;
  width: 100%;
  margin: 0;
}

.btn {
  transition: all .1s;
}

.btn-success {
  border-width: 2px;
  background-color: transparent;
  color: #18bc9c;
}

.btn-info {
  border-width: 2px;
  background-color: transparent;
  color: #3498db;
}

.btn-warning {
  border-width: 2px;
  background-color: transparent;
  color: #f39c12;
}

.btn-danger {
  border-width: 2px;
  background-color: transparent;
  color: #e74c3c;
}

.btn-default {
  border-width: 2px;
  background-color: transparent;
  color: #95a5a6;
}

.cast-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 24px;
  width: 250px;
}

.video-container {
  background-color: #000;
  height: 450px;
  width: 800px;
}

.hidden-canvas {
  display: none;
}

.hidden-photo {
  display: none;
}

.tab-pane {
  padding: 10px;
}

.update-interval {
  font-size: 32px;
}

.snapshots-gallery {

}

.snapshots-gallery li {
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 10px;
}

.snapshots-gallery li img {
  width: 100px;
}

.snapshots-gallery li.movement {
  outline: 3px solid red;
}

.main-section {
  min-height: 500px;
}

.modal-dialog {
  width: 1000px !important;
}