.canvas-container {
  margin-bottom: 20px;
}

.modal-dialog {
  width: 1024px !important;
}

#video-modal .modal-body {
  width: 970px;
}

.z-value {
  height: 30px;
  padding: 5px;
  text-align: center;
  width: 60px;
}

.tab-pane {
  padding: 10px;
}

body {
  padding-top: 20px;
}

.input-group-addon {
  padding: 5px;
}

.world-coordinates input {
  width: 40px;
}